@import url('https://fonts.googleapis.com/css2?family=Iceland&family=Michroma&family=Monomaniac+One&display=swap');

.iceland-regular {
    font-family: "Iceland", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
.iceland-bold {
    font-family: "Iceland", sans-serif;
    font-weight: 700;
    font-style: normal;
  }