@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --primary-color: #9800FF;
    --secondary-color: #262626;
  }

  @layer utilities {
    .custom-scrollbar {
      scrollbar-width: thin; /* Firefox */
      scrollbar-color: #9800FF #f3f4f6; 
    }
  
    .custom-scrollbar::-webkit-scrollbar {
      width: 6px; 
      
    }
  
    .custom-scrollbar::-webkit-scrollbar-thumb {
      background-color: #fafafa; 
      border-radius: 10px; 
    }
  
    .custom-scrollbar::-webkit-scrollbar-track {
      background-color: #f3f4f6; 
    }
  }
